#container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-image: url(../Image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
}
#header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
#search {
    width: 100%;
}
::placeholder {
    color: lightgray;
}
#city {
    width: 50%;
    height: 100%;
    font-size: 20pt;
}
#button {
    font-size: 20pt;
    height: 100%;
}
#main_content{
    display: none;
}
#current {
    font-size: 2em;
    background-repeat: no-repeat;
    background-size: cover;
}
#current p {
    padding-left: 50px;
}
#main_content {
    padding: 20px;
}
#main_content h2 {
    font-size: 2em;
}
[id="24hour_weather"] {
    border: 1px solid black;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 50%;
    margin-left: 50px;
    
}
#hour1, #hour2, #hour3, #hour4, #hour5, #hour6, #hour7, #hour8, #hour9, #hour10, #hour11, #hour12, #hour13, #hour14, #hour15, #hour16, #hour17, #hour18, #hour19, #hour20, #hour21, #hour22, #hour23, #hour24 {
    padding-left: 20px;
    font-size: 2em;
    width: 100%;
    white-space: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
}
#hour24 {
    padding-right: 20px;
}
[id="24hour_weather"] p {

}
[id="7day_forecast"] {
    font-size: 2em;
}
#daily_forecast {
    width: 100%;
}
#daily_forecast td {
    text-align: center;
}